@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap');
.App {
	box-sizing: border-box;
	padding: 30px 12%;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	border: 1px solid red;
}

.photo-list {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 5vw);
	grid-gap: 15px;
}

.brand {
	font-family: 'Tai Heritage Pro', serif;
	font-size: 1.7em;
	font-weight: 600;
	margin-bottom: 10px;
	background: linear-gradient(hsl(220deg, 80%, 80%), hsl(250deg, 80%, 80%));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}

.brand-two {
	font-size: 1em;
	text-align: center;
}

.credit {
	text-align: center;
	height: 30%;
	width: 10%;
	margin: auto auto;
	padding: 5px;
	background: slateblue;
	color: white;
}

.credit a {
	color: inherit;
	text-decoration: inherit;
}

.form-control {
	width: 100%;
	padding: 12px 24px 12px;
	background-color: transparent;
	transition: transform 250ms ease-in-out;
	font-size: 14px;
	line-height: 18px;
	color: #575756;
	background-color: transparent;
	border-radius: 50px;
	border: 1px solid #666;
	transition: all 250ms ease-in-out;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.form-control:focus .form-control:hover {
	box-shadow: none !important;
	padding: 12px 5 12px 5;
	cursor: crosshair;
	outline: 10px;
	border: 1px solid transparent;
	border-bottom: 1px solid #575756;
	border-radius: 0;
	background-position: 100% center;
}

.btn-search {
	border: none !important;
	background: #ececec !important;
	color: dimgray !important;
}
.btn-search:hover {
	background: #ececec;
	color: black !important;
}
.btn-search:focus {
	box-shadow: none !important;
}
.btn-search:active {
	background: #ececec;
	color: black !important;
	box-shadow: none !important;
}

.container {
	display: flex;
	justify-content: center;
}

.card {
	width: 20rem;
}
.card .card-img {
	transition: 0.1s;
}
.card .img-header {
	display: flex;
}
.card .profile-img {
	transition: 0.1s;
}
.card .card-title {
	margin-left: 7px;
	margin-bottom: 3px;
	align-self: center;
	width: fit-content;
	color: #ececec;
	transition: 0.1s;
}
.card .profile-img,
.card-title,
.btn-custom {
	visibility: hidden;
}
.card .btn-custom {
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 4px;
	padding: 0px 11px 3px 11px;
	background: #f7f7f7;
	color: gray;
	transition: 0.1s;
}
.card:hover {
	cursor: pointer;
}
.card:hover .profile-img {
	visibility: visible;
}
.card:hover .card-title {
	visibility: visible;
}
.card:hover .btn-custom {
	visibility: visible;
}
.card:hover .card-img {
	filter: brightness(75%);
}

.card-title:hover {
	color: white;
}
.btn-custom:hover {
	background: white;
	color: black;
}

@media (min-width: 500px) {
	.card-columns {
		column-count: 1 !important;
	}
}
@media (min-width: 740px) {
	.card-columns {
		column-count: 2 !important;
	}
}
@media (min-width: 1100px) {
	.card-columns {
		column-count: 3 !important;
	}
}
